[submodule "src/liblsquic/ls-qpack"]
	path = src/liblsquic/ls-qpack
	url = git@github.com:hzw-the-programmer/ls-qpack.git
[submodule "src/lshpack"]
	path = src/lshpack
	url = git@github.com:hzw-the-programmer/ls-hpack.git
